
/* Reset */
body, h1, p, table {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif; /* Changed font */
    background-color: #202020; /* Slightly darker background */
    color: #FFF; /* White text */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

header {
    /* position: fixed; */
    top: 0;
    height: 5%;
    width: 100%;
    background-color: #151515; /* Darker header */
    text-align: center;
    padding: 5px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); /* Added shadow */
}

.content {
    height: 95%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5); /* Subtle shadow for depth */
}

button {
    background-color: #0000001a;
    border-radius: 5px;
    padding: 10px 20px;
    border: 2px solid #5cd598;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #43db8f;
    transform: scale(1.05); /* Slight growth on hover */
}

.container {
    margin-top: 20px;
    /* overflow-x: auto; */
}

table {
    max-height: 400px; /* Adjust as per your need */
    overflow-y: auto; /* Show vertical scroll if content overflows */
}
thead {
    margin: 60px 20px 20px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 11px 8px rgb(0 0 0 / 21%);
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Existing table style */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #151515;
    table-layout: fixed;
}

/* Updated thead style */
th {
    background-color: #151515;
    color:white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0.1%;
}

hr {
    border: none;
    height: 1px;
    background-color: #303030; /* Matching border color */
    margin: 20px 0;
}

/* Input Styles */
input, select {
    width: -webkit-fill-available;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #303030;
    background-color: #151515;
    color: #FFF;
    transition: border-color 0.3s;
}

input:focus, select:focus {
    border-color: #007BFF;
}

/* Delete Button */
.delete-btn {
    background-color: transparent;
    border: 1px solid #e63946;
    color: #e63946;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.delete-btn:hover {
    background-color: #e63946;
    color: #fff;
}

.scrollable-table {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#saveButton{
    margin-top: 1%;
    float: right;
}

tr th, 
tr td {
    text-align: center;
}

tr {
    transition: background-color 0.1s;
}

tr:hover {
    background-color: #222222;
    transition: 100ms;
}


#item-select input {
    width: -webkit-fill-available;
}

.notification {
    position: fixed;
    top: -100px;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;
    background-color: #1f1f1f;
    /* border-color: #007BFF; */
    border: 1px solid #007BFF;
    color: white;
    text-align: center;
    border-radius: 2rem;
    padding: 16px;
    font-size: 20px;
    z-index: 9999;
    transition: top 0.5s;
}

.notification.show {
    top: 0;
}

.weapon-default-wrapper label {
    margin-right: 10px;
}

.weapon-default-wrapper {
    margin-bottom: 20px;
}

.weapon-default-wrapper h4 {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}

#tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.tab-btn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #3a3a3a;
    border: none;
    margin-right: 10px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s;
}

.tab-btn:hover {
    background-color: #e0e0e0;
}

.tab-btn.active {
    background-color: #999999;
    border-bottom: 1px solid #fff;
}

.column {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 20px;
}

.weapon-default-wrapper {
    overflow: hidden; /* For floating elements */
    margin-bottom: 20px;
}

.bl-2 {
    border-left: 2px solid rgb(97, 97, 105);
}

.th-weapon-type {
    padding: 0.5%;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
}

.match-tag {
    display: inline-block;
    padding: 5px 8px 5px 12px; /* Extra padding to the left for the close icon */
    margin: 5px;
    font-size: 14px;
    color: #fff;
    background-color: #333; /* Dark background color */
    border-radius: 7px;
    cursor: pointer;
    position: relative; /* For positioning the close icon */
    transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s; /* Transition properties */
    border: 2px solid transparent; /* Set a transparent border for hover effect */
    border-color: hsl(calc(360 * var(--random)), 40%, 50%); /* Colorful border on hover */
}

.match-tag:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-color: hsl(calc(360 * var(--random)), 40%, 50%); /* Colorful border on hover */
}

/* Add a close icon to the top right of each tag */
.match-tag::before {
    position: absolute;
    top: 2px;
    right: 4px;
    color: #eee;
    font-weight: bold;
    cursor: pointer;
}

/* Generate a random number for each tag and store it in a CSS variable named --random */
.match-tag {
    --random: 0; /* Fallback value */
}

.match-tag:nth-child(10n+1) {
    --random: 3.6;
}

.match-tag:nth-child(10n+2) {
    --random: 1.2;
}

.match-tag:nth-child(10n+3) {
    --random: 2.3;
}

.match-tag:nth-child(10n+4) {
    --random: 5.3;
}

.match-tag span {
    margin-left: 0.1%;
    position: absolute;
    top: -2px;

}

/* You can expand upon this by adding more nth-child selectors with different random values */

/* Style for the 'x' button */
.match-tag .close-tag {
    position: absolute;
    top: 50%;
    right: 4px; /* Small right offset */
    transform: translateY(-50%); /* Vertically center */
    background-color: rgba(0, 0, 0, 0.6); /* Slightly dark background for the 'x' */
    color: white;
    border-radius: 50%; /* Circle shape */
    padding: 4px 6px; /* Padding around 'x' */
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
}

.match-tag .close-tag:hover {
    background-color: rgba(255, 0, 0, 0.7); /* Slightly bright red on hover */
}

.matches-container {
    padding: 1%;
}
